body { margin: 0px 10% ;
       background-color: #000000 ; }

p { color: #FFFFFF ;
    text-align: justify ;
    font-family: georgia ; }

p.long { text-indent: 50px ; }

p.right { text-align: right ; }

p.code { font-family: courier ; }

a { color: #FFFFFF ;
    font-family: georgia ; }

a:link { text-decoration: none ;
         color: #9999FF ; }

a:link:hover { color: #CCCCFF ; }

h1 { color: #FFFFFF ;
     font-family: georgia ;
     margin-top: 5px ; }

h2 { color: #FFFFFF ;
     font-family: georgia ;
     margin-top: 5px ; }

hr { border-top: 1px dashed #FFFFFF ;
     border-bottom: 0px solid #000000 ; }

table { padding: 2px ;
        border-spacing: 10px ;
        margin-bottom: 5px ; }

td { vertical-align: top ; }

table.dashed { border: 1px dashed #FFFFFF ; }

ul { list-style: none ; }

li:before { content: "\261B" ;
            padding-right: 5px ;
            color: #FFFFFF ; }

li.trex:before { content: url(http://qwantz.com/forum/images/smiles/trex-omg.gif) ; }